html,
body {
  font-size: 14px;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
}

.layout-events {
  flex: 1;
  max-width: calc(100vw - 400px);
  overflow: auto;
}

.layout-inspector {
  flex: 0;
  width: 400px;
}

.stream-container {
  display: inline-block;
  border-top: 1px darkblue solid;
  border-bottom: 1px darkblue solid;
  background-color: lightblue;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.stream {
  display: inline-grid;
  height: 100%;
  overflow: visible;
  min-width: 0;
  margin: 0;
  padding: 0;
  grid-gap: 1px;
}

.stream-item {
  width: 130px;
  overflow: hidden;
  grid-row-start: 1;
  height: 100%;
  background: none;
  border-radius: 0;
  border: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.stream-item--active {
  outline: 1px yellow solid;
}

.event {
  padding: 0.2rem;
  /* border-left: 1px rgba(255, 255, 255, 0.7) solid; */
  text-overflow: ellipsis;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
}
