html,
body {
  font-size: 14px;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
}

body * {
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  height: 100%;
}

.layout-events {
  flex: 1;
  width: calc(100vw - 400px);
  overflow: auto;
}

.layout-events .controls {
  margin-bottom: 8px;
}

.layout-inspector {
  flex: 1;
  /* width: 400px; */
  max-width: 400px;
  border-left: 1px #efefef solid;
  overflow: auto;
  padding: 4px;
  height: 100%;
}

.layout-inspector pre {
  text-overflow: none;
  overflow: auto;
}

.stream-container {
  display: inline-block;
  border-top: 1px darkblue solid;
  border-bottom: 1px darkblue solid;
  background-color: lightblue;
  margin: 0;
  padding: 0;
  overflow: auto;
  position: relative;
}

/* .stream-cursor { */
/*   position: absolute; */
/*   top: 0; */
/*   bottom: 0; */
/*   width: auto; */
/*   border-left: 4px white solid; */
/*   left: 0; */
/* } */

.stream {
  display: inline-grid;
  height: 100%;
  overflow: visible;
  min-width: 0;
  margin: 0;
  padding: 8px;
  grid-gap: 8px;
}

.stream-item {
  min-width: 130px;
  overflow: hidden;
  grid-row-start: 1;
  height: 100%;
  background: none;
  border-radius: 0;
  border: none;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 100%;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.stream-item--active {
  outline: 3px white solid;
}

.event {
  padding: 0.2rem;
  /* border-left: 1px rgba(255, 255, 255, 0.7) solid; */
  text-overflow: ellipsis;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
}

button.button {
  text-align: center;
  padding: 1rem;
  background-color: rgb(120, 200, 255);
  color: white;
  border: 1px white solid;
}

button.button:disabled {
  background-color: rgb(120, 200, 255, .5);
}
