#hyperapp-debugger
  position fixed
  top 0
  right 0
  height auto
  max-height 100vh

  *
    box-sizing border-box
    font-family sans-serif
    font-size 16px

  .ticker
    position absolute
    top 15px
    right 0
    color #fff
    transition transform .3s ease-in-out
    display flex
    align-items flex-end
    justify-content center
    transform translateX(100%)

    .text
      display inline-block
      color #fff
      padding 1rem 0.5rem

  .container:not(.expanded) .ticker
    transform translateX(0)

  .full
    background-color #2c3e50
    color #ecf0f1
    padding 15px
    width 400px
    max-height 100vh
    overflow auto
    transition transform .3s ease-in-out

  .container:not(.expanded) .full
    transform translateX(100%)

  .controls
    display flex
    justify-content center
    width 100%
    margin 1rem 0

    .time-travel
      flex-grow 1

    .current-time
      flex-shrink 1
      padding 0 1rem

  .button
    cursor pointer
    padding 0.5rem 1rem
    text-align center
    color #fff
    background-color #2980b9
    transition background-color .3s ease-in-out

    &:active
      transform translate(1px, 1px)

    &[disabled]
      cursor not-allowed
      background-color #95a5a6

    &:not([disabled]):hover
      background-color #3498db

  header
    display flex
    flex-direction row
    align-items center
    justify-content space-between
    padding 0.5rem 0

    h1
      font-size 14px
      font-variant small-caps
      flex-grow 1

    .button
      flex-shrink 1

  .replay
    background-color #27ae60
    flex-shrink 1

    &:not([disabled]):hover
      background-color #2ecc71

  .resume
    background-color #27ae60
    flex-grow 1

    &:not([disabled]):hover
      background-color #2ecc71

  .pause
    background-color #c0392b
    flex-grow 1

    &:not([disabled]):hover
      background-color #e74c3c

  #hyperapp-debugger-explorer
    font-family monospace
    overflow auto
    background-color #34495e
    padding 0.5rem
    max-height 600px

    .object
      padding-left 1rem

    .object-key
      color #3498db
